html,
body{
  color: #333;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
  &:hover{
    opacity: 0.5;
  }
}

.foodList{

}

.foodList__item{
  a{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.header{
  h1{
    display: flex;
    justify-content: center;
  }
}
.headerLink{
  display: flex;
  gap: 25px;
  justify-content: center;
}

.headerLink__item{
  a{
    border: 1px solid #333;
    padding: 10px 20px;
    display: block;
  }
}

.btn{
  border: 1px solid #333;
  padding: 20px 40px;
}
