@use "../../../styles/mixin" as *;
@use "../../../styles/setting" as *;

.form{
  max-width: 480px;
}

.formRow{
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  gap: 16px;
  @include sp{
    grid-template-columns: minmax(0, 1fr);
  }
}

.quantity{
  display: grid;
  grid-template-columns: minmax(0, 1fr) 80px;
  gap: 10px;
}
