@use "../../../styles/mixin" as *;
@use "../../../styles/setting" as *;

.form{
  max-width: 680px;
}

.formRow{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 16px;
  @include narrow{
    grid-template-columns: minmax(0, 1fr);
  }
}

.quantity{
  display: grid;
  grid-template-columns: minmax(0, 1fr) 120px;
  gap: 10px;
}
